.outer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}
.inner_container {
  margin: 100px;
  display: grid;
  border: 2px solid black;
  height: 100%;
  width: 100%;
  grid-template-columns: 50% repeat(5, 1fr);
  grid-template-rows: repeat(7, auto);
}

.header {
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  /* border: 2px solid blue; */
  grid-column: 1/7;
}
.image {
  grid-column: 1/3;
  grid-row: 2/4;
  border: 2px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image img {
  height: 100%;
  width: 50%;
}

.varient {
  display: flex;
  grid-column: 3/7;
  grid-row: 2/3;
  align-items: center;
  justify-content: center;
}
.price {
  display: flex;
  grid-column: 3/7;
  grid-row: 3/4;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}

.specs_features {
  display: grid;
  grid-template-rows: 10fr 10fr;
  border: 2px solid grey;
  margin-top: 100px;
}
.specs {
  margin-top: 10px;
  background: rgb(209, 207, 207);
  /* border: 2px solid red; */
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  grid-column: 1/7;
}
.specs_table table tr {
  height: 50px;
  border: 0.5px solid grey;
}
.specs_table table tr td {
  /* border: 0.5px solid black; */
  padding-left: 10px;
  vertical-align: middle;
}
.specs_table table tr th {
  text-align: left;
}
.specs_table table {
  width: 100%;
}
.specs_table {
  grid-column: 1/7;
}
