.outer_container{
    /* border: 2px solid red; */
    background: black;
    height: 55px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.inner_container{
    /* border: 2px solid black; */
    
    margin: 2px;
    padding: 2px;
    width: 100%;
    height: 100%;
    display: flex;
}

.outer_container .inner_container nav, .outer_container .inner_container nav ul{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.outer_container .inner_container nav ul {
    font-size: 1.0em;
    color: #ffffff;
    transition: 0.5s;
    cursor: pointer;
}
.outer_container .inner_container nav ul li:hover{
    background: rgb(140, 144, 140);
}